<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quant.market.mapper.KlineMapper">

    <select id="selectByRange" resultType="com.quant.common.model.Kline">
        SELECT open_time, `interval`, open_price, high_price, low_price, close_price,
               volume, close_time, quote_volume, trade_count
        FROM kline_btcusdt
        WHERE `interval` = #{interval}
          AND (
            open_time BETWEEN #{startMs} AND #{endMs}
            OR open_time BETWEEN #{startMs} * 1000 AND #{endMs} * 1000
            OR open_time BETWEEN #{startMs} * 1000000 AND #{endMs} * 1000000
          )
        ORDER BY
          CASE
            WHEN open_time &gt;= 1000000000000000000 THEN open_time DIV 1000000
            WHEN open_time &gt;= 1000000000000000 THEN open_time DIV 1000
            ELSE open_time
          END ASC
    </select>

    <select id="selectLatest" resultType="com.quant.common.model.Kline">
        SELECT open_time, `interval`, open_price, high_price, low_price, close_price,
               volume, close_time, quote_volume, trade_count
        FROM kline_btcusdt
        WHERE `interval` = #{interval}
        ORDER BY
          CASE
            WHEN open_time &gt;= 1000000000000000000 THEN open_time DIV 1000000
            WHEN open_time &gt;= 1000000000000000 THEN open_time DIV 1000
            ELSE open_time
          END DESC
        LIMIT #{limit}
    </select>

</mapper>
